.form-group .row{ 
    margin-left:-10px;
    margin-right:-10px
}

.form-group .row [class^=col]{
    padding-left:10px;
    padding-right:10px
}

.form-group.has-error span.has-error{
    color:#f44;
    font-size:13px;
    display:block!important
}

.form-group.has-error .form-control-feedback{
    color:#f44
}

.form-group.has-warning span.has-warning{
    color:#fe974b;
    font-size:13px;
    display:block!important
}

.form-group.has-warning .form-control-feedback{
    color:#fe974b
}

.form-group.has-success span.has-success{
    color:#4bcf99;
    font-size:13px;
    display:block!important
}

.form-group.has-success .form-control-feedback{
    color:#4bcf99
}

.input-group{
    margin-bottom:10px
}

.form-control{
    padding-left:5px
}

.form-control.underlined{ 
    padding-left:0;
    padding-right:0;
    border-radius:0;
    border:none;
    border-radius:0;
    box-shadow:none;
    border-bottom:1px solid #d7dde4
}

.form-control.underlined.indented{
    padding:.375rem .75rem
}

 .form-control.underlined:focus{
     border:none;
     box-shadow:none;
     border-bottom:1px solid #52bcd3
}
    
.has-error .form-control.underlined{
    box-shadow:none;
    border-color:#f44
}
.has-warning .form-control.underlined{
    box-shadow:none;
    border-color:#fe974b
}

.has-success .form-control.underlined{
    box-shadow:none;
    border-color:#4bcf99
}

.form-control{
    border-color:#fb494d
}


.btn{ 
    background-image:none;
    border-radius:0;
    margin-bottom:5px
}

.btn.btn-primary{
    color:#fff;
    background-color:#52bcd3;
    border-color:#52bcd3
}

.form-help-text{
    color:#fb494d;
    font-size:13px
}

.form-group.has-success .form-help-text{
    color:#8cde33;
    font-size:13px
}




.auth{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    overflow-x:hidden;
    overflow-y:auto}

.auth-container {
    width:450px;
    min-height:330px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateY(-50%) translateX(-50%);
    transform:translateY(-50%) translateX(-50%)
}



.auth-container .auth-content{
    padding:30px 50px;
    min-height:260px
}

.auth-container .forgot-btn{
    line-height:28px
}

.auth-container .checkbox label{
    padding:0
}

.auth-container .checkbox a{vertical-align:text-top}

.auth-container .checkbox span{color:#4f5f6f}

@media (max-width:767px){
    .auth-container{
        width:100%;position:relative;
        left:0;
        top:0;
        -webkit-transform:inherit;
        transform:inherit;
        margin:0;
        margin-bottom:10px
    }

    .auth-container .auth-content{
        padding:30px 25px
    }
}