<div class="container-fluid">
  <div class="row">
    <div class="col-3">
        <table class="table">
            <tbody class="text-center ml-0">
                <tr>
                  <td>ЛОГИН</td>
                </tr>

                <tr>
                  <td>ИМЯ</td>
                </tr>

                <tr>
                  <td>ПАРОЛЬ</td>
                </tr>

                <tr>
                  <td>ПОЧТА</td>
                </tr>
        </table>

        <div class="row" >
          <button type="button" class="btn btn-primary">Edit</button>
        </div>
        <button type="button" class="btn btn-primary">Exit</button>
    </div>

    <div class="col-9">

      <div class="row mb-4">
        <div class="col-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter login">
        </div>
        <div class="col-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter name">
        </div>
        <div class="col-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>

        <div class="col-3">
          <button type="button" class="btn btn-primary">Поиск</button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr class="text-center">
            <th>Login</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>rr</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>rr</td>
          </tr>
          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>rr</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>